.recipe {
  display: inline-block;
  width: 330px;
  height: 315px;
  border: 1px solid #ccc;
  margin: 10px;
  display: relative;
}

.recipe:hover {
  opacity: 0.7;
  border-color: #f0ad4e;
}

.recipe__image {
  height: 180px;
  overflow: hidden;
}

.recipe__name {
  text-align: center;
  font-weight: 700;
  line-height: 18px;
  white-space: nowrap;
  height: 18px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow: hidden;
  padding: 0 4px;
}

.recipe__desc {
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  padding: 2px 8px;
  margin-bottom: 5px;
  overflow: hidden;
}

.recipe__author {
  text-align: right;
  padding-right: 10px;
  font-size: 10px;
  color: #aaa;
}

.recipe__content {
  padding-top: 5px;
}

.recipe_ingredients {
  overflow: hidden;
}

.recipe_ingredients ul {
  list-style-type: disc;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  font-size: 11px;
  padding: 5px 5px 5px 15px;
  height: 58px;
  margin-bottom: 0px;
}
