.navbar {
  height: 52px;
}

.navbar-brand img {
  height: 36px;
}

.navbar-default .navbar-nav li:hover {
}

.fb-login-btn {
  font-size: 30px;
  color: #666;
  float: right;
  margin-top: 5px;
}

.fb-login-btn:hover {
  color: #3B5998;
  cursor: pointer;
}

.avatar {
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;
  float: right;
  margin-top: 10px;
}

.avatar-image--icon {
  width: 32px;
  height: 32px;
}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
